<template>
<div >
        <section id="main-content" class="animated fadeInUp">
        <div class="row" id="merged" >
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Merged Requests Tables</h3>
                             
                                <div class="actions pull-right">
                                    <i class="fa fa-expand"></i>
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Jobber Name</th>
                                            <th>Jobber Email</th>
                                            <th>Jobber Phone NUmber</th>
                                            <th>Skills</th>
                                            <th>Artisan Name</th>
                                            <th>Artisan Email</th>
                                            <th>Description</th>
                                            <th>Address</th>
                                            <th>Area</th>
                                            <th>State</th>
                                            <th>Artisan Status</th>
                                            <th>Supervisor Status</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                           

                                            
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr v-for="job in completed_jobs" :key="job.id">
                                            
                                            <td>{{job.id}}</td>
                                            <td>{{job.user.name}}</td>
                                            <td>{{job.user.email}}</td>
                                            <td>{{job.job.phone_number}}</td>
                                            <td>{{job.job_name}}</td>
                                            <td>{{job.artisan.name}}</td>
                                            <td>{{job.artisan.email}}</td>
                                            <td>{{job.job.description}}</td>
                                            <td>{{job.job.address}}</td>
                                            <td>{{job.area_name}}</td>
                                            <td>{{job.state_name}}</td>
                                            <td>{{job.artisan_status}} </td>
                                            <td>{{job.supervisor_status}} </td>
                                            <td>{{job.status}}</td>
                                            <td>
                                                <button v-on:click.prevent = "viewartisan(job)" class="btn btn-info"  >view Artisan</button>
                                                <button v-on:click.prevent = "viewsupervisor(job)" class="btn btn-info"  >view Supervisor</button>
                                                <button v-on:click.prevent = "getproofs(job)" class="btn btn-info"  v-if="job.status == 'Payment Processed'"> view Reciepts</button>
                                        
                                            </td>
                                        </tr>
                                       
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

 
            </section>
<div class="modal fade" id="proofmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" v-if="!artisanview">Uploaded Proof Of Payment</h5>
        <h5 class="modal-title" id="exampleModalLongTitle" v-if="artisanview">Artisan Data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body" v-if="!artisanview">
             <div v-for="proof in proofs" :key="proof.id">
              <a v-bind:href="'/storage/proof/' + proof.name"  target="_blank"> 
               <img  v-bind:src ="'/storage/proof/' + proof.name"  id="image"  alt="proof" height="200" width="250" />
             </a>
             </div>
        
      </div>
      <div class="modal-body" v-if = "request != '' && artisanview">
          <h2>Name</h2>
          <p>{{ request.artisan.name}}</p>
           <h2>Email</h2>
          <p>{{ request.artisan.email}}</p>
           <h2>Phone Number</h2>
          <p>{{ request.artisan_data.phone_number}}</p>
          <h2>Address</h2>
          <p>{{ request.artisan_data.address}}</p>
          <h2>Area</h2>
          <p>{{ request.artisan_data.area_name}}</p>
          <h2>Bank Name</h2>
          <p>{{ request.artisan_data.account_name}}</p>
          <h2>Account Number</h2>
          <p>{{ request.artisan_data.account_number}}</p>
          <h2>State</h2>
          <p>{{ request.artisan_data.state_name}}</p>
           <h2>Skills</h2>
          <p>{{ request.artisan_skills}}</p>
          <img  v-bind:src ="'/storage/profile/' + request.artisan_data.profile_image"  id="image"  alt="proof" height="200" width="250" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="supervisordata" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" >Supervisor data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
    
      <div class="modal-body" v-if = "request != ''">
          <h2>Name</h2>
          <p>{{ request.supervisor.name}}</p>
           <h2>Email</h2>
          <p>{{ request.supervisor.email}}</p>
           <h2>Phone Number</h2>
          <p>{{ request.artisan_data.phone_number}}</p>
          <h2>Address</h2>
          <p>{{ request.supervisor_data.address}}</p>
          <h2>Area</h2>
          <p>{{ request.supervisor_data.area_name}}</p>
          <h2>Bank Name</h2>
          <p>{{ request.supervisor_data.account_name}}</p>
          <h2>Account Number</h2>
          <p>{{ request.supervisor_data.account_number}}</p>
          <h2>State</h2>
          <p>{{ request.supervisor_data.state_name}}</p>
          
          <img  v-bind:src ="'/storage/profile/' + request.supervisor_data.profile_image"  id="image"  alt="proof" height="200" width="250" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
    <div class="modal fade" id="uploadmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit User Data </h5>
        <h4>Select Role</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
          <form action="">
        <div class="form-group">
            <label for="">Select State</label>
               <select class="form-control" name="" id="" @change="getAreas()" v-model="state_id">
                <option value="0"> All</option>
                <option v-for="state in states"  :key="state.id" :value="state.id">{{state.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Select Area</label>
            <select class="form-control" name="" id=""  @change="getartisan()" v-model="area_id">
               <option value="0"> All</option>
                <option v-for="area in area_selected"  :key="area.id" :value="area.id">{{area.name}}</option>
            </select>
        </div>
        <div class="form-group" v-if="isArtisan">
            <label for="">Select Artisan</label>
               <select class="form-control" name="" id="" v-model="artisan_id">
                
                <option v-for="artisan in artisan_selected"  :key="artisan.id" :value="artisan.user.id">{{artisan.user.name}} 
                  (
                    {{artisan.skill_name}}
                  )
                </option>
            </select>
        </div>
        <div class="form-group" v-if="!isArtisan">
            <label for="">Select Supervisor</label>
               <select class="form-control" name="" id="" v-model="supervisor_id">
                
                <option v-for="supervisor in supervisor_selected"  :key="supervisor.id" :value="supervisor.user.id">{{supervisor.user.name}} 
                 
                </option>
            </select>
        </div>
              </form>   
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button><button type="submit" class="btn btn-primary" v-on:click.prevent = "mergeArtisan()">save</button>
      </div>
    </div>
  </div>
</div>
</div>
</template>

<script>
    
    export default {
    name: "dashboard",
            data(){
        return {
        allartisans: [],
        allsupervisors: [],
        states: [],
        areas:[],
        artisans: [],
        data: [],
         newjobs: [],
         merged_jobs: [],
         completed_jobs: [],
         job: [],
         proofs: [],
         request:"",
         artisanview: false,
         artisan_selected: [],
        supervisor_selected: [],
          state_id: "",
        area_id: "",
        artisan_id: "",
        area_selected: [],
        supervisor_id: "",
        isArtisan: false,
        user_type : '',
        user_id : ''
            
        }
        },
       methods: {
         viewsupervisor(job){
           this.request = job;
            console.log(this.request)
                $('#supervisordata').modal('show');
         },
           cancelMerge(merge){
                this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/cancelmerge',{'merge_id' : merge.id }).then((response) => {
                     if(response.data.code == 200){
                         Fire.$emit('reload');

                         this.$swal(
                        'Successful',
                        'Cancelled Merged Successfully.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
           },
           viewartisan(request){
               this.requestb = [];
               this.artisanview = true;
            this.request = request;
            console.log(this.request)
                $('#proofmodal').modal('show');

           },
       getproofs(request){
               this.artisanview = false;

           $('#proofmodal').modal('show');
            this.request = request;
             this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/getproofs',{'jobmerge_id' : request.id }).then((response) => {
                     if(response.data.code == 200){
                       this.proofs =  response.data.proofs;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
                  
         },
           getrequests(){
            this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/admin/getjobs').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                           this.newjobs = response.data.newjobs;
                           this.data = response.data.newjobs;
                           this.merged_jobs = response.data.merge_jobs;
                           this.completed_jobs = response.data.completed_jobs;
                           this.states = response.data.states;
                           this.areas = response.data.areas;
                          this.allartisans = response.data.artisans;
                           this.allsupervisors= response.data.supervisors;
                           console.log(  this.merged_jobs[0].artisan_data.phone_number )
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });   
             } ,
         mergeArtisan(){
           if(this.user_type == 'Artisan' && this.artisan_id == "" ){
               this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Please Select An Artisan ',
                    })
           }else if(this.user_type == 'Supervisor' && this.supervisor_id == "" ){
               this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Please Select a supervisor',
                    })
           }
           
           else{
             if(this.user_type == 'Artisan'){
                 this.user_id = this.artisan_id;
             }else    if(this.user_type == 'Supervisor'){
                this.user_id = this.supervisor_id;
             }
            this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/remergejob',{ "jobmerge_id" : this.job.id , "user_id" : this.user_id , "user_type" : this.user_type}).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                     $('#uploadmodal').modal('hide');

                         this.$swal(
                        'Successful',
                        'Request Merged Successfully.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
           }
         },
           getartisan(){
           console.log('select artisan');
            let count = 0;
           this.artisan_selected =[];
           this.supervisor_selected = [];
           console.log(this.allartisans);
           console.log(this.artisans);
                this.allartisans.forEach(user => {
                  console.log(this.job.job.skills_id);
                  console.log(user.skill_id);
                  if(this.job.job.skills_id == user.skill_id){
                    console.log('valid skils');
                    this.artisans[count] = user;
                    count++;
                  }else{
                    console.log('invalid skils');
                  }
                });
                this.artisan_id = "";
               if(this.area_id == '0'){
                 console.log('all area selected');
                 this.artisan_selected =[];
                 this.artisan_selected = this.artisans;
                 this.supervisor_selected = this.allsupervisors;
                 console.log(this.artisan_selected);
               }else{
                 let count =  0;
                  this.artisan_selected =[];
                   console.log('specific area selected');
                   console.log(this.artisans);
             console.log(this.artisan_selected);
                 this.artisans.forEach(artisan => {
                   console.log(artisan.area_id );
                  console.log(this.area_id);
                   if(artisan.area_id == this.area_id){
                      console.log('valid area');
                      this.artisan_selected[count] = artisan;
                   count++;
                   }else{
                      console.log('invalid area');
                   }
                   
                 });
                 count =  0;
                 this.allsupervisors.forEach(supervisor => {
                   if(supervisor.area_id == this.area_id){
                      this.supervisor_selected[count] = supervisor;
                   count++;
                   }
                   
                 });
               }
               console.log(this.area_selected);
         },
           getAreas(){
             
               if(this.state_id == '0'){
                 this.area_selected = this.areas;
               }else{
                 let count =  0;
                  this.area_selected =[];
             console.log(this.area_selected);
                 this.areas.forEach(area => {
                   if(area.state_id == this.state_id){
                      this.area_selected[count] = area;
                   count++;
                   }
                   
                 });
               }
               console.log(this.area_selected);
           },
           mergejob(user,job){
             console.log(job);
               this.user_type = user;
               if(user == 'Artisan'){
                 this.isArtisan = true;
               } else if(user == 'Supervisor'){ 
                 this.isArtisan = false;
               }
               this.job = job;
               this.area_selected = [];
               this.artisan_selected = [];
             $('#uploadmodal').modal('show');
             
           },
       
      },
        mounted() {
        
           this.getrequests();
            setTimeout(()=> {

              $('#example').dataTable({
                    "scrollX": true,
                    "bDestroy": true,
                    "order": [[ 0, "desc" ]]
                    });
            },2000); 
           
           
            Fire.$on('reload', () => {
            this.getrequests();
           
          })
        }
        
    }
</script>