<template>
<div >
    <div class="container">
        <hr><hr><hr>
        <h1>User Management <a href="/usermanagement" class="btn btn-warning"> manage</a></h1>
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-solid-success widget-mini">
                        <div class="panel-body">
                            <i class="icon-user"></i>
                            <span class="total text-center">{{users}}</span>
                            <span class="title text-center">Users</span>
                        </div>
                    </div>
                </div>
               
                <div class="col-md-3">
                    <div class="panel panel-solid-info widget-mini">
                        <div class="panel-body">
                            <i class="icon-user"></i>
                            <span class="total text-center">{{artisans}}</span>
                            <span class="title text-center">Artisans</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-solid-info widget-mini">
                        <div class="panel-body">
                            <i class="icon-user"></i>
                            <span class="total text-center">{{supervisors}}</span>
                            <span class="title text-center">Supervisors</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-solid-success widget-mini">
                        <div class="panel-body">
                            <i class="icon-user"></i>
                            <span class="total text-center">{{admins}}</span>
                            <span class="title text-center">Admins </span>
                        </div>
                    </div>
                </div>
            </div>
                 <hr><hr><hr>
        <h1>Artisan Request Management 
            <a href="/requestmanagent" class="btn btn-warning" > manage Request</a >
            <a href="/artisanskills" class="btn btn-warning" > manage SKills</a >
        </h1>
        
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-solid-success widget-mini">
                      
                            <div class="panel-body">
                            <i class="icon-bar-chart"></i>
                            <span class="total text-center">{{pending_requests}}</span>
                             <a  href="/requestmanagent" ><span class="title text-center">New Artisan Request</span></a>
                        </div>
                    </div>
                </div>
               
                <div class="col-md-4">
                    <div class="panel panel-solid-info widget-mini">
                        <div class="panel-body">
                            <i class="icon-bar-chart"></i>
                            <span class="total text-center">{{merged_requests}}</span>
                          <a  href="/mergedrequest" >   <span class="title text-center">Merged Requests</span> </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-solid-success widget-mini">
                        <div class="panel-body">
                            <i class="icon-bar-chart"></i>
                            <span class="total text-center">{{complete_requests}}</span>
                            
                          <a  href="/completedrequest" >  <span class="title text-center">Completed Requests</span></a>

                        </div>
                    </div>
                </div>
            </div>
                 <hr><hr><hr>
              <h1>Store Management <a  href="/productmanagement" class="btn btn-warning"> manage</a></h1>

            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-solid-success widget-mini">
                        <div class="panel-body">
                            <i class="icon-bar-chart"></i>
                            <span class="total text-center">{{items}}</span>
                            <span class="title text-center">Products</span>
                        </div>
                    </div>
                </div>
               
                <div class="col-md-4">
                  
                </div>
                <div class="col-md-4">
                    <div class="panel panel-solid-success widget-mini">
                        <div class="panel-body">
                            <i class="icon-bar-chart"></i>
                            <span class="total text-center">{{orders}}</span>
                            <a  href="/storerequest" ><span class="title text-center">Store Requests</span></a>
                        </div>
                    </div>
                </div>
            </div>
              <hr><hr><hr>
              <h1>Tips <a  href="/tips" class="btn btn-warning"> manage</a></h1>
              <hr> <hr> <hr>
    </div>
</div>
</template>
<script>
    
    export default {
    name: "dashboard",
            data(){
        return {
         admins: 0,
         users: 0,
         artisans: 0,
         pending_requests: 0,
         merged_requests: 0,
         complete_requests: 0,
         orders: 0,
         items: 0,
         supervisors: 0
     
        }
        },
       methods: {
         getData(){
           this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/admin/home').then((response) => {
         
                     
                     this.admins = response.data.admins;
                     this.users = response.data.users;
                     this.items = response.data.items;
                     this.artisans = response.data.artisans;
                     this.supervisors = response.data.supervisors;
                     this.pending_requests = response.data.pending_requests;
                     this.merged_requests = response.data.merged_requests;
                     this.complete_requests = response.data.complete_requests;
                     this.orders = response.data.orders;
                    
                     
                    }).catch(err => {

                    //  window.location.href = '/login'; 

                  });     
         },
       
      },
        mounted() {
        this.getData();
           
          
        }
    }
</script>
