 <template>
<div >
         <div class="container">
              <div class="row">
                 
                  <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Artisan Data</h3>
                            <div class="actions pull-right">
                                <i class="fa fa-expand"></i>
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                        </div>
                        <div class="panel-body">
                          <p style="color : red"> Please Ensure you provide Correct Data and Wait for Your Request to be Approved. </p>
                            <form class="form-horizontal" role="form" id="dataform"   @submit.prevent="saveData()">

                           <div class="row">
                                <div class="col-md-5">
                                          <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Skills</label>
                                                <select required name="cars" id="areaselect"  v-model="data.skill_id" class="form-control rounded-pill" readonly="">
                                                   <option v-for="skill in skills" :key="skill.id" :value="skill.id"> {{skill.name}} </option>     
                                            
                                                </select>
                                            </div>
                                        <div class="form-group">
                                            <label for="inputEmail2" label class="small text-gray-600">Address</label>
                                                <input required type="text" v-model="data.address"  class="form-control" id="inputEmail2" placeholder="Address">
                                          
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail2" label class="small text-gray-600">Date of Birth ({{data.date_of_birth}})</label> 

                                          <div class="input-group date" data-provide="datepicker">
                                              <input  v-model="data.date_of_birth" required  type="text" id="dob" class="form-control">
                                              <div class="input-group-addon">
                                                  <span class="glyphicon glyphicon-th"></span>
                                              </div>
                                          </div>
                                        </div>
  
                                          <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Phone Number</label>
                                            <input required type="number" class="form-control"   v-model="data.phone_number">
                                            </div>
                                         <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">State</label>
                                                <select required v-on:change = "selectareas()" name="cars" id="areaselect"  v-model="data.state_id" class="form-control rounded-pill">
                                                   <option v-for="state in states" :key="state.id" :value="state.id"> {{state.name}} </option>     
                                            
                                                </select>
                                            </div>
                                            <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Area</label>
                                                <select   required name="cars" id="areaselect"  v-model="data.area_id" class="form-control rounded-pill">
                                                   <option v-for="area in area_selected" :key="area.id" :value="area.id"> {{area.name}} </option>     
                                                     
                                                </select>
                                            </div>
                                            
                                            
                                   
                                    
                                </div> 
                                <div class="col-md-1"></div>
                                <div class="col-md-6">
                                            <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Bank Name</label>
                                            <input required type="text"  class="form-control" v-model="data.account_name">
                                            </div>
                                            <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Account Number</label>
                                            <input required type="number" class="form-control"   v-model="data.account_number">
                                            </div>
                                             <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Guarantor Name</label>
                                            <input  required type="text" class="form-control"  v-model="data.guarantor">
                                            </div>
                                            <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Guarantor Phone Number</label>
                                            <input  required type="number" class="form-control"  v-model="data.guarantor_number">
                                            </div>
                                            
                                            
                                </div>
                                
                           </div>
                           
                                <div class="row">
                                  <hr><hr>
                                        <div class="col-md-5">
                                        </div>
                                        <div class="col-md-4"><button class="btn btn-success">Save Data</button></div>

                                </div>
                            </form>

                           <div>
                             <hr><p style="color : red">PLease Upload A Clear User Profile and Await Confirmation. </p><hr>
                           <img    id="image" v-bind:src ="'/storage/profile/' + data.profile_image" alt="No profile Picture" height="200" width="250" />
                            <div class="col-md-4"><button class="btn btn-success" v-on:click.prevent = "showupload()">Upload Profile</button></div>
                           </div>
                        </div>
                    </div>
                  </div>
              </div>
              <div class="modal fade" id="uploadmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Upload Profile Picture</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
        <form action="" @submit.prevent="uploadprofile()">

      <div class="modal-body">
            <label for="">Select the image</label>
             <input required  type="file" id="file" name="file" />
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <button type="submit" class="btn btn-primary" >Upload</button>
      </div>
        </form>
    </div>
  </div>
</div>
          </div>
</div>
</template>
<script>
    
    export default {
    name: "dashboard",
            data(){
        return {
          data: {},
          skills: [],
          areas: [],
          area_selected: [],
          states: [],
            
        }
        },
       methods: {
         showupload(){
                $('#uploadmodal').modal('show');
         },
         uploadprofile() {
               if (!($('#file').get(0).files.length === 0)) {
              var fd = new FormData();
              var files = $('#file')[0].files[0];
              fd.append('file',files);
              this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/uploadprofile',fd).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'Proof Uploaded.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                     Fire.$emit('reload');
                     $('#uploadmodal').modal('hide');
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
               }else{
                   this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Please Select an image',
                    })
               } 
            },
           selectareas(){
               console.log(this.data.state_id)
              let  count = 0;
              this.area_selected = [];
              this.areas.forEach(area => {
                  if(area.state_id == this.data.state_id){
                      this.area_selected[count] = area;
                      count++;
                  }
              }); 
           },
       getData(){
            console.log('here o');            
           this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/artisan').then((response) => {
                 console.log('here o');
                    console.log( response.data.artisandata);
                       
                      if(response.data.artisandata != ""){
                       this.data = response.data.artisandata;
                      }
                       this.skills = response.data.skills;
                       this.areas = response.data.areas;
                       this.states = response.data.states;
                       this.selectareas();
                  console.log('here o');
                        console.log(this.data);
                        console.log(this.skills);
                        console.log(this.areas);
                        console.log(this.states);
                     
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });   
       },
       savedata(){
               this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                   axios.post('/api/setdata', this.data).then((response) => {
                      console.log(response.data.data);
                  

                    }).catch(err => {

                 console.log(err.response.data);
                


                  });
       },
       saveData(){

         
            console.log( $('#dob').val());
            this.data.date_of_birth =  $('#dob').val();
              this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/setdata', this.data).then((response) => {
                       console.log( response.data);
                       
                        if(response.data.code == 200){
                       Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'Data Updated.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });
       }
      },
        mounted() {
            console.log('how fa na')
          this.getData();
          $('.datepicker').datepicker();

            Fire.$on('reload', () => {
            this.getData();
           
          })
        }
    }
</script>