<template>
<div >
        <section id="main-content" class="animated fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Data Tables</h3>
                                <a href="/requestartisan"  class="btn btn-success btn-3d">REQUEST FOR AN ARTISAN</a>
                                <div class="actions pull-right">
                                    <i class="fa fa-expand"></i>
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>User</th>
                                            <th>Email</th>
                                            <th>Skills</th>
                                            <th>Describtion</th>
                                            <th>Address</th>
                                            <th>Area</th>
                                            <th>State</th>
                                            <th>Phone Number</th>
                                            <th>Status</th>
                                            <th>Actions</th>

                                            
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr v-for="request in requests" :key="request.id">
                                          <td>{{request.user.name}}</td>
                                          <td>{{request.user.email}}</td>
                                          <td>{{request.job_name}}</td>
                                          <td>{{request.jobdata.description}}</td>
                                          <td>{{request.jobdata.address}}</td>
                                          <td>{{request.area_name}}</td>
                                          <td>{{request.state_name}}</td>
                                          <td>{{request.jobdata.phone_number}}</td>
                                          <td>{{request.status}}<button v-on:click.prevent = "getproofs(request)"> view Reciepts</button> </td>
                                          <!--  -->
                                          <!-- <button> view Reciepts</button> -->
                                          <td><button v-if="request.status == 'Accepted'" v-on:click.prevent = "showuploadPage(request)">Upload Payment Reciept</button>
                                              <button v-if="request.status == 'Payment Processed'" v-on:click.prevent = "showuploadPage(request)">Add Reciept</button>
                                          </td>
                                        </tr>
                                       
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
<div class="modal fade" id="uploadmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Upload Proof Of Payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <form action="">
            <label for="">Select the image</label>
             <input type="file" id="file" name="file" />
             <img  id="image" src="#" alt="proof" height="200" width="250" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <button type="button" class="btn btn-primary" v-on:click.prevent = "uploadproof()">Upload</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="proofmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Uploaded Proof Of Payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
             <div v-for="proof in proofs" :key="proof.id">
              <a v-bind:href="'/storage/proof/' + proof.name"  target="_blank"> 
               <img  v-bind:src ="'/storage/proof/' + proof.name"  id="image"  alt="proof" height="200" width="250" />
             </a>
             </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
</div>
</template>

<script>
    
    export default {
    name: "dashboard",
            data(){
        return {
         requests: [],
         request: {},
         proofs: [],
         path: ""
            
        }
        },
       methods: {
         getproofs(request){
           $('#proofmodal').modal('show');
            this.request = request;
             this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/getproofs',{'jobmerge_id' : request.id }).then((response) => {
                     if(response.data.code == 200){
                       this.proofs =  response.data.proofs;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
                  
         },
           uploadproof() {
               if (!($('#file').get(0).files.length === 0)) {
              var fd = new FormData();
              var files = $('#file')[0].files[0];
              fd.append('file',files);
              fd.append('jobmerge_id' , this.request.id);
              this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/uploadproof',fd).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'Proof Uploaded.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                     $('#uploadmodal').modal('hide');
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
               }else{
                   this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Please Select an image',
                    })
               } 
            },
           showuploadPage(request){
               $("#file").change(function(){
                       if (this.files && this.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#image').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(this.files[0]);
                }
                });
               this.request = request;
               console.log(this.request);
                
                //  this.$swal(
                //         'Wifi Data Saved!',
                //         'The Wifi Data have been  Successfully.',
                //         'success'
                //       ) ;

                
                $('#uploadmodal').modal('show');

           },
           getmergeRequest(){
                 this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/getmergeRequest').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                           this.requests = response.data.requests;
                           console.log(  this.requests )
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });   
             } 
      },
        mounted() {
        let $userStatus = localStorage.getItem('status');
         console.log("artisan dash");
         console.log($userStatus);
        if($userStatus != null && $userStatus == 0){
          window.location.href = '/artisandata'; 
        }
        console.log('erroorr');
           this.getmergeRequest();
           
         setTimeout(()=> {

              $('#example').dataTable({
                    "scrollX": true,
                    "bDestroy": true
                    });
            },2000); 
     
                 Fire.$on('reload', () => {
            this.getmergeRequest();
           
          })
        }
    }
</script>
