<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">

                    <div class="card-body">
                       LOGIN OUT
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
    name: "logout",
        mounted(){
            // console.log('login out.');
             localStorage.removeItem('access_token');
             localStorage.removeItem('name');
             localStorage.removeItem('email');
             localStorage.removeItem('id');
             localStorage.removeItem('role');
             localStorage.removeItem('created_at');
             window.location.href = '/login';


        }
    }
</script>
