<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">

                    <div class="card-body">
                        <br>
                           <br>
                           <br>
                           <br>
                           <br>
                           <br>
                       <div class="row">

                           <div class="col-md-2"></div>
                           
                           <div class="col-md-6" >
                               <form  action="">
                                   <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">New Password</label>
                                   <input v-model="password" required type="password" class="form-control"  >
                                 </div>
                                 <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Re-Enter Password</label>
                                   <input :change = "getDiff()" v-model="repassword" required type="password" class="form-control"  >
                                   <img v-if="good"  src="/good.png"  style="height: 20px; width: 20px" alt="">
                                   <img v-if="cancel" src="/cancel.jpg" style="height: 20px; width: 20px" alt="">
                                 </div>
                                 <button class="btn btn-success" v-on:click.prevent = "submitPass()"> Save </button>
                               </form>
                           </div>
                           <div class="col-md-4"></div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
    data(){
        return {
        password: "",
        repassword: "",
        good: false,
        cancel: false
        }
        },
        methods: {
            getDiff(){
            if(this.password == this.repassword && this.password != ""){
               this.good = true;
               this.cancel = false;
               

            }else{
                this.good = false;
               this.cancel = true;
            }
            },
        submitPass(){
           if(this.password == this.repassword && this.password != "" ){ 
               
                       this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/updatepassword',{ "password" : this.password }).then((response) => {
                     if(response.data.code == 200){
                   
                        this.$swal(
                        'Successful',
                        'Password Saved.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                  //  window.location.href = '/signin';
 

                  }); 
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Please Provide A valid password',
                      text: '',
                    })

           }
        }
        },

        mounted(){
           

        }
    }
</script>
