<template>
<div >
        <section id="main-content" class="animated fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Product Table <button v-on:click.prevent = "openmodal()" class="btn btn-success" >Add Product</button></h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-expand"></i>
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Product Name</th>
                                            <th>Product Description</th>
                                            <th>Status</th>
                                            <th>Message</th>
                                            <th>User Name</th>
                                            <th>User Email</th>
                                            <th>Amount</th>
                                           

                                            
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr v-for="order in requests" :key="order.id">
                                            <td>{{order.id}}</td>
                                            <td>{{order.item.name}}</td>
                                            <td>{{order.item.description}}</td>
                                            <td>{{order.status}}</td>
                                            <td>{{order.message}}</td>
                                            <td>{{order.user.name}}</td>
                                            <td>{{order.user.email}}</td>
                                            <td>{{order.amount}}</td>
                                           
                                        </tr>
                                       
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

            </section>
 
</div>
</template>

<script>
    
    export default {
    name: "productmanagement",
            data(){
        return {
         requests: [],
          
        }
        },
       methods: {

           getrequests(){
            this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/admin/storerequest').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                           this.requests = response.data.orders;
                           
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });   
             } 
      },
        mounted() {
        
           this.getrequests();
          
            this.TimerEvents =  setInterval(function () {
                  $('#example').dataTable();
                }.bind(this), 1000); 
            Fire.$on('reload', () => {
            this.getrequests();
           
          })
        }
        
    }
</script>