<template>
<div >
        <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-6">
                        <div v-if="request_count != 0">
                     <div  class="panel panel-default" v-for="request in requests" :key="request.id">
                            <div class="panel-heading">
                                <h3 class="panel-title">New Request</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-expand"></i>
                                </div>
                            </div>
                            <div class="panel-body widget-gauge">
                                <div class="row">
                                  <div class="col-lg-6">
                                    <h4 class="alert alert-success"> User Data</h4>
                                    <h1>Name</h1>
                                <p>{{request.user.name}}</p>
                                  <h1>Email</h1>
                                <p>{{request.user.email}}</p>
                                  <h1>Contact</h1>
                                <p>{{request.userdata.phone_number}}</p>
                                
                                <h1>JOB</h1>
                                <p>{{request.job_name}} </p>
                                <h1>Address</h1>
                                <p>{{request.userdata.address}}</p>
                                <p>{{request.area_name}}</p>
                                <p>{{request.state_name}}</p>
                                  </div>
                                    <div class="col-lg-6">
                              <h4 class="alert alert-success"> Artisan Data</h4>
                                    <h1>Name</h1>
                                <p>{{request.artisan.name}}</p>
                                 <h1>Email</h1>
                                <p>{{request.artisan.email}}</p>
                                  <h1>Contact</h1>
                                <p>{{request.artisandata.phone_number}}</p>
                                <h1>Address</h1>
                                <p>{{request.artisandata.address}}</p>
                                <p>{{request.artisandata.area_name}}</p>
                                <p>{{request.artisandata.state_name}}</p>
                                <h1>Profile</h1>
                                 <img    id="image" v-bind:src ="'/storage/profile/' + request.artisandata.profile_image" alt="No profile Picture" height="200" width="250" />
                                  </div>
                                </div>
                                <div class="goal-wrapper">
                                   <span id="goal-text" class="goal-value pull-left"><button class="btn btn-danger btn-3d" v-on:click.prevent = "rejectRequest(request.id)" :id="'rsubmit'+ request.id" type="rsubmit"><i :id="'rloader' + request.id" style="display: none" class="fa fa-circle-o-notch fa-spin"></i>Decline</button></span>

                                    <span id="gauge-text" class="gauge-value pull-right"><button class="btn btn-success btn-3d" v-on:click.prevent = "acceptRequest(request.id)" :id="'submit'+ request.id" type="submit"><i :id="'loader' + request.id" style="display: none" class="fa fa-circle-o-notch fa-spin"></i>Accept</button></span>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div v-else>
                                <div class="container">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">No New Request</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-expand"></i>
                                </div>
                            </div>
                            <div class="panel-body widget-gauge">
                                Stand By!!!!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
</template>
<script>
    
    export default {
    name: "dashboard",
            data(){
        return {
         requests: {},
         request_count: 0,
     
        }
        },
       methods: {
           rejectRequest(id){
            console.log("rejected");  
             console.log($('#rloader' + id));
              $('#rloader' + id ).show();
               $('#rsubmit' + id).attr('disabled','disabled');
               this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/supervisor/reject_request/'+id).then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                        Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'You Have Rejected The Request.',
                        'success'
                      ) ;
                           console.log( "done");
                      }else{
                    console.log("failed");
                     this.$swal(
                        'Error',
                        'Network Error.',
                        'error'
                      ) ;
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  }); 
           },
           acceptRequest(id){
             console.log("accepted");  
             console.log($('#loader' + id));
              $('#loader' + id ).show();
               $('#submit' + id).attr('disabled','disabled');
               this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/supervisor/accept_request/'+id).then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                        Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'You Have Accepted The Request.',
                        'success'
                      ) ;
                           console.log( "done");
                      }else{
                    console.log("failed");
                    this.$swal(
                        'Error',
                        'Network Error.',
                        'error'
                      ) ;
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });  
           },
             getNewRequest(){
                 this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/supervisor/getrequests').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                           this.requests = response.data.jobs;
                           this.request_count =  _.size(this.requests);
                           console.log(  _.size(this.requests) );
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });   
             },

       
      },
        mounted() {
     
        this.getNewRequest();
         Fire.$on('reload', () => {
            this.getNewRequest();
           
          })
          
        }
    }
</script>
