<template>
<div >
        <section id="main-content" class="animated fadeInUp">
        <div class="row"  >
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Tips </h3>
                             
                                <div class="actions pull-right">
                                    <i class="fa fa-expand"></i>
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-4 "> </div>
                                        <div class="col-lg-4 ">
                                            <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Tip Title</label>
                                            <input required type="text"  class="form-control" v-model="title" >
                                            </div>
                                            <div class="form-group"><label class="small text-gray-600" for="leadCapEmail">Tip Body</label>
                                            <textarea required class="form-control" v-model="body" ></textarea>
                                            </div>
                                            <button class="btn btn-success" v-on:click.prevent = "addtip()"> Add</button>
                                        </div>
                                    </div><hr><hr>
                                <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Body </th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                           

                                            
                                        </tr>
                                    </thead>

                                    <tbody v-if="!emptytip">
                                        <tr   v-for="tip in tips" :key="tip.id">
                                            
                                            <td>{{tip.title}}</td>
                                            <td>{{tip.body}}</td>
                                            <td v-if= "tip.status == 1">
                                               Active <button  v-on:click.prevent = "fliptip(tip.id)" class="btn btn-warning">deactivate</button>  
                                            </td>
                                            <td v-else>
                                               Deactivated <button v-on:click.prevent = "fliptip(tip.id)" class="btn btn-success">activate</button>  

                                            </td>
                                            <td>
                                                <button v-on:click.prevent = "deletetip(tip.id)" class="btn btn-danger"  >Delete</button>
                                               
                                        
                                            </td>
                                        </tr>
                                       
                                    </tbody>
                                    <tbody v-else></tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

 
            </section>


</div>
</template>

<script>
    
    export default {
    name: "dashboard",
            data(){
        return {
        emptytip : true,
        tips: [],
        title: "",
        body: "",

      
            
        }
        },
       methods: {
           fliptip(id){
               this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/fliptip', {'id' : id }).then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                           
                            Fire.$emit('reload');
                           this.$swal(
                        'Successful',
                        'Tip Status Changed.',
                        'success'
                      ) ;
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });  
                     },
           addtip(){
               console.log(this.title);
               console.log(this.body);
                 if(this.title == "" && this.body == ""){
                    this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Please provide tip title and body',
                    })
                       
                     }else{
                       this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/addtips', {'title' : this.title , "body": this.body}).then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                            Fire.$emit('reload');
                           this.$swal(
                        'Successful',
                        'Tip Added.',
                        'success'
                      ) ;
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });  
                     }
           },

          deletetip(id){
               this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/deletetip', {'id' : id }).then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                           
                            Fire.$emit('reload');
                           this.$swal(
                        'Successful',
                        'Tip Deleted.',
                        'success'
                      ) ;
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });  
          },
           gettips(){
            this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/admin/gettips').then((response) => {
                      console.log( response.data);
                       if(response.data.code == '200'){
                          this.tips  = response.data.tips;
                          if(this.tips.length > 0) {
                              this.emptytip = false;
                          }else{
                              this.emptytip =  true;
                          }

                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });   
             } 
      },
        mounted() {
        
           this.gettips();
            setTimeout(()=> {

              $('#example').dataTable({
                    "scrollX": true,
                    "bDestroy": true
                    });
            },2000); 
           
            Fire.$on('reload', () => {
            this.gettips();
           
          })
        }
        
    }
</script>