<template>
<div >
        <section id="main-content" class="animated fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Users Tables</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-expand"></i>
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                           

                                            
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr v-for="user in data" :key="user.id">
                                            <td>{{user.id}}</td>
                                            <td>{{user.name}}</td>
                                            <td>{{user.email}}</td>
                                            <td>
                                                <span v-if="user.role == 1">User</span>
                                                <span v-if="user.role == 2">Admin</span>
                                                <span v-if="user.role == 3">Artisan</span>
                                                <span v-if="user.role == 4">Supervisor</span>
                                            <button v-if="user.role == 3" class="btn btn-warning" v-on:click.prevent = "viewartisan(user)">View</button>
                                            <button v-if="user.role == 4" class="btn btn-warning" v-on:click.prevent = "viewsupervisor(user)">View</button>

                                            </td>
                                            <td>
                                            
                                                <span v-if="user.status == 1" style="color: green">Active <button v-on:click.prevent = "flipuser(user)" class="btn btn-warning">deactivate</button> </span>
                                                <span v-if="user.status == 0" style="color: red">Inactive <button v-on:click.prevent = "flipuser(user)" class="btn btn-success">activate</button></span>
                                                </td>
                                            
                                            <td>
                                            <button class="btn btn-warning" v-on:click.prevent = "edituser(user)">edit</button>
                                            </td>
                                        </tr>
                                       
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

            </section>
   <div class="modal fade" id="artisanmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Artisan Data  </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

            
       <div class="modal-body" >
          <h2>Name</h2>
          <p>{{ setuser.name}}</p>
          <hr>
           <h2>Email</h2>
          <p>{{ setuser.email}}</p>
          <div v-if = "artisandata != '' ">
             <h2>Date of Birth</h2>
          <p>{{ artisandata.date_of_birth}}</p>
             <h2>Phone Number</h2>
          <p>{{ artisandata.phone_number}}</p>
          <h2>Address</h2>
          <p>{{ artisandata.address}}</p>
          <h2>Area</h2>
          <p>{{ artisandata.area_name}}</p>
          <h2>State</h2>
         
          <p>{{ artisandata.state_name}}</p>
           <hr>
           <h2>Skills</h2>
          <p>{{ artisandata.skill_name}}</p>
           <hr>
           <h2>Guarantor</h2>
          <p>{{ artisandata.guarantor}}</p>
          <h2>Guarantor Phone Number</h2>
          <p>{{ artisandata.guarantor_number}}</p>
          <hr>
          <h2>Account Number</h2>
          <p>{{ artisandata.account_number}}</p>
          <h2>Bank Name </h2>
          <p>{{ artisandata.account_name}}</p>
          <h2>Profile Picture</h2>
          <img  v-bind:src ="'/storage/profile/' + artisandata.profile_image"  id="image"  alt="proof" height="200" width="250" />
          </div>
          <div v-else>
            <h2 class="alert alert-danger">Artisan have not yet provided his/her data</h2>
          </div>
          
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>      
   <div class="modal fade" id="supervisormodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Supervisor Data  </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

            
       <div class="modal-body" >
          <h2>Name</h2>
          <p>{{ setuser.name}}</p>
          <hr>
           <h2>Email</h2>
          <p>{{ setuser.email}}</p>
          <div v-if = "supervisordata != '' ">
             <h2>Date of Birth</h2>
          <p>{{ supervisordata.date_of_birth}}</p>
             <h2>Phone Number</h2>
          <p>{{ supervisordata.phone_number}}</p>
          <h2>Address</h2>
          <p>{{ supervisordata.address}}</p>
          <h2>Area</h2>
          <p>{{ supervisordata.area_name}}</p>
          <h2>State</h2>
         
          <p>{{ supervisordata.state_name}}</p>
           <hr>
           <h2>Skills</h2>
          <p>{{ supervisordata.skill_name}}</p>
           <hr>
           <h2>Guarantor</h2>
          <p>{{ supervisordata.guarantor}}</p>
          <h2>Guarantor Phone Number</h2>
          <p>{{ supervisordata.guarantor_number}}</p>
          <hr>
          <h2>Account Number</h2>
          <p>{{ supervisordata.account_number}}</p>
          <h2>Bank Name </h2>
          <p>{{ supervisordata.account_name}}</p>
          <hr><hr>
          <h2>ID Type </h2>
          <p>{{ supervisordata.id_type}}</p>
          <h2>ID Number </h2>
          <p>{{ supervisordata.id_number}}</p>
          <h2>ID </h2>
           <img  v-bind:src ="'/storage/ids/' + supervisordata.id_image"  id="image"  alt="proof" height="200" width="250" />
          <h2>Profile Picture</h2>
          <img  v-bind:src ="'/storage/profile/' + supervisordata.profile_image"  id="image"  alt="proof" height="200" width="250" />
          </div>
          <div v-else>
            <h2 class="alert alert-danger">Supervisor have not yet provided his/her data</h2>
          </div>
          
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>       
 <div class="modal fade" id="uploadmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit User Data </h5>
        <h4>Select Role</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
          <form action="">
              <select name="" v-model="user.role" id="" class="form-control">
                  <option value="1">User</option>
                  <option value="3">Artisan</option>
                  <option value="2">Admin</option>
              </select>
              </form>   
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <button type="submit" class="btn btn-primary" v-on:click.prevent = "saveuserdata()">save</button>
      </div>
    </div>
  </div>
</div>
</div>
</template>

<script>
    
    export default {
    name: "dashboard",
            data(){
        return {
        data: [],
         users: [],
         admins: [],
         allusers: [],
         artisans: [],
         user: {},
         setuser:{},
         artisandata: "",
         userdata: {},
         supervisordata: ''
            
        }
        },
       methods: {
         viewsupervisor(user){
           this.supervisordata = "";
             console.log("artisan data");
               this.setuser = user;
                this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/supervisor/' + user.id).then((response) => {
                    console.log( response.data.artisan_data);
                       if(response.data.code == '200'){
                            this.supervisordata = response.data.supervisor_data;
                          //  console.log(this.artisandata);
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  }); 
               $('#supervisormodal').modal('show');
         },
           viewartisan(user){
             this.artisandata = "";
             console.log("artisan data");
               this.setuser = user;
                this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/artisan/' + user.id).then((response) => {
                    console.log( response.data.artisan_data);
                       if(response.data.code == '200'){
                            this.artisandata = response.data.artisan_data;
                          //  console.log(this.artisandata);
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  }); 
               $('#artisanmodal').modal('show');
           },
           edituser(user){
               this.user = user;
             $('#uploadmodal').modal('show');
             
           },
           saveuserdata(){
                   this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/saveuser',this.user).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                     $('#uploadmodal').modal('hide');

                         this.$swal(
                        'Successful',
                        'User Status Changed Successfully.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
           },
           flipuser(user){
                            this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/admin/flipuser',user).then((response) => {
                     if(response.data.code == 200){
                       Fire.$emit('reload');
                         this.$swal(
                        'Successful',
                        'User Status Changed Successfully.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                  //  window.location.href = '/signin';
 

                  }); 
           },
           getusers(){
            this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/admin/user').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                           this.users = response.data.users;
                           this.admins = response.data.admins;
                           this.artisans = response.data.artisans;
                           this.allusers = response.data.allusers;
                           this.data = response.data.allusers;
                           console.log(  this.requests.data )
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });   
             } 
      },
        mounted() {
        
           this.getusers();
               setTimeout(()=> {

              $('#example').dataTable({
                    "scrollX": true,
                    "bDestroy": true
                    });
            },2000);
            // this.TimerEvents =  setInterval(function () {
            //       $('#example').dataTable();
            //     }.bind(this), 1000); 
            Fire.$on('reload', () => {
            this.getusers();
            setTimeout(()=> {

              $('#example').dataTable({
                    "scrollX": true,
                    "bDestroy": true,
                     "order": [[ 0, "desc" ]]

                    });
            },2000);
           
          })
        }
        
    }
</script>