<template>
<div >
        <section id="main-content" class="animated fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Data Tables</h3>
                                <a href="/requestartisan"  class="btn btn-success btn-3d">REQUEST FOR AN ARTISAN</a>
                                <div class="actions pull-right">
                                    <i class="fa fa-expand"></i>
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Skills</th>
                                            <th>Describtion</th>
                                            <th>Address</th>
                                            <th>Area</th>
                                            <th>State</th>
                                            <th>Phone Number</th>
                                            <th>Status</th>
                                            <th>Action</th>

                                            
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr v-for="request in requests" :key="request.id">
                                            <td>{{request.skill.name}}</td>
                                            <td>{{request.description}}</td>
                                            <td>{{request.address}}</td>
                                            <td>{{request.area_name}}</td>
                                            <td>{{request.state_name}}</td>
                                            <td>{{request.phone_number}}</td>
                                            <td>{{request.status}}</td>
                                            <td ><button v-if="request.status != 'Pending'" class="btn btn-info" v-on:click = "viewartisan(request)"> View Artisan</button></td>
                                        </tr>
                                       
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                 <br>
                           <br>
                           <br>
                           <br>
                           <br>
                  
            </section>
 <div class="modal fade" id="artisanmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Artisan Data  </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

            
       <div class="modal-body" v-if = "request != '' ">
          <h2>Name</h2>
          <p>{{ request.artisan.name}}</p>
           <h2>Email</h2>
          <p>{{ request.artisan.email}}</p>
           <h2>Phone Number</h2>
          <p>{{ request.artisan_data.phone_number}}</p>
          <h2>Address</h2>
          <p>{{ request.artisan_data.address}}</p>
          <h2>Area</h2>
          <p>{{ request.artisan_data.area_name}}</p>
          <h2>State</h2>
          <p>{{ request.artisan_data.state_name}}</p>
           <h2>Skills</h2>
          <p>{{ request.artisan_skills}}</p>
          <img  v-bind:src ="'/storage/profile/' + request.artisan_data.profile_image"  id="image"  alt="proof" height="200" width="250" />
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
</div>
</template>

<script>
    
    export default {
    name: "dashboard",
            data(){
        return {
         requests: [],
         request:"",
         password: "",
        repassword: "",
        good: false,
        cancel: false 
        }
        },
       methods: {
           getDiff(){
            if(this.password == this.repassword && this.password != ""){
               this.good = true;
               this.cancel = false;
               

            }else{
                this.good = false;
               this.cancel = true;
            }
            },
        submitPass(){
           if(this.password == this.repassword && this.password != "" ){ 
               
                       this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.post('/api/updatepassword',{ "password" : this.password }).then((response) => {
                     if(response.data.code == 200){
                   
                        this.$swal(
                        'Successful',
                        'Password Saved.',
                        'success'
                      ) ;
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Un Authorized Access',
                    })
                     }
                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                  //  window.location.href = '/signin';
 

                  }); 
                     }else{
                       this.$swal({
                      icon: 'error',
                      title: 'Please Provide A valid password',
                      text: '',
                    })

           }
        },
           viewartisan(request){
               this.request = request;
               $('#artisanmodal').modal('show');
           },
           getmyRequest(){
                 this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
               axios.get('/api/getmyrequest').then((response) => {
                      // console.log( response.data.ports);
                       if(response.data.code == '200'){
                           this.requests = response.data.requests;
                           console.log(  this.requests )
                      }else{
                    console.log("artisan status not verified");
                    //  window.location.href = '/login'; 
                      }
                     
                    }).catch(err => {
                    console.log("artisan status not verified ++eeeee");

                    //  window.location.href = '/login'; 

                  });   
             } 
      },
        mounted() {
        
           this.getmyRequest();
           setTimeout(()=> {

              $('#example').dataTable({
                    "scrollX": true,
                    "bDestroy": true
                    });
            },2000);
            // this.TimerEvents =  setInterval(function () {
            //       $('#example').dataTable();
            //     }.bind(this), 1000); 
        }
    }
</script>
