<template>
<div >
         <div class="container">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">New Request</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-expand"></i>
                                </div>
                            </div>
                            <div class="panel-body widget-gauge">
                                
                                <div class="goal-wrapper">

                                    <span id="gauge-text" class="gauge-value "><button class="btn btn-success btn-3d">REQUEST FOR AN ARTISAN</button></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
</template>
<script>
    
    export default {
    name: "dashboard",
            data(){
        return {
         
     
        }
        },
       methods: {
       
      },
        mounted() {
        
           
          
        }
    }
</script>
